*{
  font-family: "Roboto";
}
body{
  background-image: url('D:\REACT\Todo\myapp\images\besplatnye-gradienty-i-primery-ih-realizatsii-v-dizajne.png');
  background-size: cover;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 30vh;
  align-items: center;
  background-color: #fff;
  width: 50%;
  height: 50%;
  border-radius: 5px;
}
.Btn{
  width: 5px;
  height: 28px;
  box-sizing: border-box;
}
h1{
  margin: 20px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(110,9,121,0.8407738095238095) 35%, rgba(0,212,255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
li{
  margin: 20px;
}
input{
  height: 30px;
  margin-right: 20px;
  border-radius: 10px;
  border: 0.5px solid transparent;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(110,9,121,0.8407738095238095) 35%, rgba(0,212,255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
.todo-text{
  font-size: 24px;
  font-family: 'Lato';
  font-weight: 500;
  cursor: pointer;
}
.todo-text-strike{
  text-decoration: line-through;
  font-size: 24px;
  font-family: 'Lato';
  font-weight: 500;
  cursor: pointer;
  opacity: 0.5;
}
.todo-item{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.todo-text-strike-color{
  font-size: 24px;
  font-family: 'Lato';
  font-weight: 600;
  text-decoration: line-through;
  color: rgb(127, 80, 255);

}
.todo-item div{
  margin-left: 80px;
}